


<footer style="background-color: crimson;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;" >
    <!-- Step 4 - Add a dynamic year to the footer using JS. -->
    

      <h5 style="margin: 0; font-size: small;">Design by Surprise Mathonsi</h5>
      <div>
        <a href="https://web.facebook.com/mathonsi.hlawutelo/" target="_blank" rel="noopener noreferrer"><img src="pictures/facebook.png" alt="facebook"
             style=" border-radius: 15px;
                    height: 3%;
                    width: 3%;"></a>
        <a href="https://www.linkedin.com/in/surprise-hlawutelo-b64963186/" target="_blank" rel="noopener noreferrer"><img src="pictures/linkin.png"  alt="linkedin"
            style=" border-radius: 15px;
            height: 3%;
            width: 3%;"
            ></a>
      </div>

    <p style="margin: 0;">Copyright © <%=new Date().getFullYear() %> </p>
  
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>